:root {
  --primary-yellow: #f7b801;
  --primary-blue: #050505;
  --white: #ffffff;
  --black: #000000;
}

.home-container {
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.welcome-title {
  font-size: 2.5rem;
  color: var(--primary-yellow);
  margin-bottom: 30px;
}

.welcome-title span {
  font-weight: bold;
}
