:root {
  --primary-yellow: #f7b801;
  --primary-blue: #050505;
  --white: #ffffff;
  --black: #000000;
}

.home-container {
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.welcome-title {
  font-size: 2.5rem;
  color: var(--primary-yellow);
  margin-bottom: 30px;
}

.welcome-title span {
  font-weight: bold;
}

.subtitle {
  margin: 10px auto 30px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-blue);
  line-height: 1.5;
}

.choose-text {
  font-size: 1.8rem;
  color: var(--primary-yellow);
  font-weight: bold;
  margin-top: 40px;
}

.carousel-wrapper {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px 0;
  scrollbar-width: none; 
}

.cards-container::-webkit-scrollbar {
  display: none; 
}

.card {
  flex: 0 0 auto;
  width: 285px;
  height: 290px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-label {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  background: none;
  border: none;
  font-size: 32px;
  color: var(--primary-yellow);
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  box-shadow: none;
}

.arrow.left {
  left: -60px;
}

.arrow.right {
  right: -60px;
}
