:root {
  --cor-primaria: #000000;
  --cor-texto: #ffffff;
  --cor-texto-destaque: #ffae00;
  --cor-icons: #c0c0c0;
  --cor-btn-secondary: #052bff;
}

/*Container*/
.container-login {
  display: flex;
  height: 90vh;
  width: 80vw;
  margin: auto;
  border-radius: 25px;
  background-color: var(--cor-primaria);
  color: var(--cor-texto);
  margin-top: 30px;
}

.login-left,
.login-right {
  flex: 1; 
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border-radius: 25px;
}

.login-left img {
  width: 100vw;
  height: auto;
  margin-left: -10px;
  object-fit: cover; 
}


.login-right {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}


/*Cabeçario*/
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.login-header .logo{
  display: flex;
  color: var(--cor-texto-destaque);  
  font-size: 40px;
  margin: 10px 0 20px;
}

.login-header .lang-switch{
  display: flex;
  align-self: flex-start;
  background-color: var(--cor-texto);  
  color: var(--cor-primaria);
  width: 100px;
  margin: 20px 0 0 ;
}

.lang-switch {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  gap: 10px;
  cursor: pointer;
}

.lang-switch img {
  height: 15px;
  width: 30px;
  margin: 0 0 0 20px;
}

.lobo-img {
  display: flex;
  margin: -40px ;
  height: 150px;
  width: 150px;
}

/* Boas vindas */
.boa-vinda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.boa-vinda .titulo{
  font-size: 50px;
  margin: 0;
}

.boa-vinda .sub-titulo{
  font-size: 30px;
  margin: 0;
}


/* Input */
.form-login {
  margin: 30px auto;
  width: 80%;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.input-group input {
  width: 100%;
  padding: 15px 15px 15px 40px; 
  border: 1px solid var(--cor-icons);
  box-shadow: 2px 2px 2px var(--cor-texto-destaque);
  border-radius: 5px;
  font-size: 1.1rem;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: var(--cor-icons);
  pointer-events: none; 
  font-size: 1.2rem;
}

/* Opções */
.form-options {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  font-size: 20px;
}

.checkbox-container{
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  align-items: center;
  width: 20px;
  height: 20px;
  transform: scale(1); 
  margin-right: 8px;     
  cursor: pointer;
  border: none;
}

.form-options .link-senha {
  color: var(--cor-texto-destaque);
  text-decoration: none;
}

/* Botão */
.btn-acesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  gap: 20px;
}

.btn-acesso .btn{
  padding: 10px;
  width: 400px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  color: var(--cor-texto);
}

.btn-primary{
  background-color: var(--cor-texto-destaque);
}

.btn-primary:hover{
  transition: 500ms;
  padding: 15px;
}

.btn-secondary{
  background-color: var(--cor-btn-secondary);
}

.btn-secondary:hover{
  transition: 500ms;
  padding: 15px;
}

