:root {
  --cor-primaria: #000000;
  --cor-texto: #ffffff;
  --cor-texto-destaque: #ffae00;
  --cor-icons: #c0c0c0;
}

.input-buscar-treino {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 50vh;
    color: var(--cor-texto);
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    padding: 10px;
}

.input-buscar-treino input {
    padding: 12px;
    width: 600px;
    max-width: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--cor-texto-destaque);
    color: var(--cor-texto);
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-buscar-treino input:focus {
    border: 1px solid var(--cor-texto-destaque);
    padding: 12px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.input-buscar-treino input:hover {
    border: 1px solid var(--cor-texto-destaque);
    background-color: var(--cor-texto-destaque);
    color: var(--cor-texto);
    cursor: pointer;
}

.input-buscar-treino button {
    width: 120px;
    border-radius: 0 10px 10px 0;
    background-color: var(--cor-texto-destaque);
    border: 1px solid var(--cor-texto-destaque);
    color: var(--cor-texto);
    font-size: 18px;
    padding: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-buscar-treino button:focus {
    border: 1px solid var(--cor-texto-destaque);
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.input-buscar-treino button:hover {
    background-color: var(--cor-texto-destaque);
    border: 1px solid var(--cor-texto-destaque);
    color: var(--cor-texto);
    padding: 14px;
}
